a {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14pt;
    text-decoration: none;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 28pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 20pt;
}

h5 {
    font-size: 18pt;
}

h6 {
    font-size: 16pt;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
    margin: 0;
}
