#footer-bar {
    overflow: hidden;
}

#footer-bar > div {
    animation: footer-bar-ani 10s linear infinite;
    background-image: linear-gradient(to right, rgba(191, 6, 3, 1), rgba(191, 6, 3, 0.25), rgba(191, 6, 3, 1), rgba(191, 6, 3, 0.25), rgba(191, 6, 3, 1));
    height: 4px;
    position: relative;
    width: 200%;
}

#footer-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: calc(1920px + 120px);
    padding: 50px 100px;
}

#footer-container > div:last-child {
    display: flex;
    gap: 32px;
}

#footer-container > div:last-child > div {
    display: flex;
    flex-flow: column;
    gap: 3px;
}

#footer-container > div:last-child > div > p {
    font-weight: bold;
    margin-bottom: 7px;
}

#footer-footprint {
    padding-top: 50px;
    position: relative;
}

#footer-footprint > img {
    position: absolute;
}

@keyframes footer-bar-ani {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@-webkit-keyframes footer-bar-ani {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}



/* Phone */
@media only screen and (max-width: 600px) {
    #footer-container {
        flex-flow: column-reverse;
        gap: 48px;
        padding: 25px;
    }

    #footer-container > div:last-child {
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        width: 100%;
    }
}