#footer-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: calc(1920px + 120px);
    padding: 50px 100px;
}

#footer-container > div:last-child {
    display: flex;
    gap: 32px;
}

#footer-container > div:last-child > div {
    display: flex;
    flex-flow: column;
    gap: 3px;
}

#footer-container > div:last-child > div > p {
    font-weight: bold;
    margin-bottom: 7px;
}

#footer-footprint {
    padding-top: 50px;
    position: relative;
}

#footer-footprint > img {
    position: absolute;
}



/* Phone */
@media only screen and (max-width: 600px) {
    #footer-container {
        flex-flow: column-reverse;
        gap: 48px;
        padding: 25px;
    }

    #footer-container > div:last-child {
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        width: 100%;
    }
}