.button {
    background-color: #212529;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 10pt 24pt;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #4d5053;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.galeri-bg {
    background-attachment: fixed;
    background-color: #212529;
    background-image: url("/img/bg_header_cut-blur.png");
    background-position: top right;
    background-size: cover;
    padding-bottom: 3rem;
}

.galeri-flex {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
}

.galeri-isi {
    border-radius: 20px;
    height: 10rem;
    margin: 25px 0;
    overflow: hidden;
    width: 100%;
}

.galeri-isi:hover .galeri-isi-img {
    background-size: 100%;
    -webkit-filter: blur(3px) saturate(160%);
    filter: blur(3px) saturate(160%);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.galeri-isi:hover .galeri-isi-txt {
    scale: 200%;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.galeri-isi-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    display: block;
    height: 100%;
    scale: 110%;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 100%;
}

.galeri-isi-txt {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    scale: 165%;
    text-transform: uppercase;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    top: -100%;
    width: 100%;
}

.galeri-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: auto;
    max-width: 75rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.galeri-title > h1 {
    color: white;
    font-size: 60pt;
}

.header {
    background-attachment: fixed;
    background-image: url("/img/bg_header.jpg");
    background-position: top right;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header-a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 70pt);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
}

.header-a-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), color-stop(rgba(0,0,0,0.8)), to(rgba(0,0,0,0)));
    background-image: -o-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0));
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0));
    height: 100%;
    position: relative;
    width: 50%;
}

.header-bg-cut {
    background-attachment: fixed;
    background-image:url("/img/bg_header_cut.png");
    background-position: top right;
    background-size: cover;
    max-width: 100%;
    position: absolute;
    top: 0;
    width: 100vw;
}

.header-flex-bt {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    height: 70pt;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.profil-bg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-attachment: fixed;
    background-color: floralwhite;
    background-image: url("/img/bg_header_cut.png");
    background-position: top right;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100vh;
}

.profil-isi {
    padding: 6rem;
}

.profil-isi-txt {
    max-width: 100%;
}

.profil-isi-txt td {
    font-family: "Montserrat", sans-serif;
}

.profil-isi-txt th {
    font-family: "Montserrat", sans-serif;
    font-size: 28pt;
    font-weight: bold;
    text-align: left;
    word-wrap: break-word;
}
