#aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 120px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 0 100px;
}

#aboutme h1 {
    font-size: xxx-large;
    font-weight: bold;
}

#aboutme p {
    line-height: 1.5;
    white-space: pre-line;
}

#aboutme-a {
    justify-content: space-between;
    margin: 220px 0 100px;
    width: 63.666667%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

#aboutme-b {
    background-attachment: fixed;
    background-image: url("/img/aurellyan.me.crop.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: calc(30.333333% - 100px);
    width: 30.333333%;
}

#exploring-content {
    border-right: 4px solid darkgrey;
    margin: 0 70px 0 100px;
}

#exploring-content > ol {
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 0;
}

.exploring-header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    text-align: right;
}

.exploring-header-list > h1 {
    font-size: xx-large;
    font-weight: bold;
    translate: 22px;
}

#exploring-post {
    margin: 0 auto;
    max-width: 1920px;
    padding: 100px;
}

#exploring-post-border-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 100px 0;
}

#exploring-post-border-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 100px;
}

.exploring-post-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    gap: 30px;
    padding: 30px 0 60px;
}

#exploring-post-header {
    padding-left: 100px;
}

.exploring-shot-on {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}

.exploring-side-border-dot {
    border-right: 4px dotted darkgrey;
    height: 16px;
    margin-right: 70px;
}

#gallery, #gallery-exploring, #post {
    margin: 0 auto;
    max-width: 1920px;
    padding: 100px;
}

#gallery > h1, #gallery-exploring > h1, #page-exploring-imgs-container > div > h1, #post > h1 {
    font-weight: bold;
    font-size: xxx-large;
}

.gallery-captions {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: calc(100% - 50px);
    justify-content: space-between;
    padding: 25px;
    overflow: hidden;
}

.gallery-captions > div {
    width: 100%;
}

.gallery-captions h2 {
    font-weight: normal;;
}

.gallery-captions h3 {
    font-weight: normal;
    text-align: right;
}

.gallery-captions h1, .gallery-captions h2, .gallery-captions h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
}

.gallery-captions.white-txt {
    color: white;
    text-shadow: 0 0 13px black, 0 0 13px black, 0 0 13px black, 0 0 13px black;
}

.noise-bg-light {
    background-image: url("/img/noise_dark.png");
}

.open-img-link {
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    text-align: center;
    transition: .2s ease-in-out;
    width: 100%;
}

.page-exploring-box-container {
    aspect-ratio: 2 / 1;
    max-width: calc(calc(1920px * 65%) - 200px);
    width: calc(65vw - 200px);
}

.page-exploring-box-container > div {
    background-size: cover;
    background-position: center;
    height: 100%;
}

#page-exploring-imgs-container {
    display: flex;
    gap: 30px;
    overflow: auto;
    padding: 50px 100px;
    scrollbar-width: none;
}

#page-exploring-imgs-container > div {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

#page-exploring-imgs-container-master {
    display: flex;
    left: -100px;
    position: relative;
    width: calc(100% + 200px);
}

#page-exploring-imgs-container-master > div:first-child, #page-exploring-imgs-container-master > div:last-child {
    position: relative;
}

#page-exploring-imgs-container-master > div:first-child > div {
    left: 0;
    mask-image: linear-gradient(90deg, black, transparent);
}

#page-exploring-imgs-container-master > div:last-child > div {
    mask-image: linear-gradient(90deg, transparent, black);
    right: 0;
}

#page-exploring-imgs-container-master > div:first-child > div, #page-exploring-imgs-container-master > div:last-child > div {
    background-color: floralwhite;
    height: 100%;
    padding: 0 50px;
    position: absolute;
}

.photo-capt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 5px 10px 0;
}

.photo-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

#post-border-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
}

#post-border-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
}

#post-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    gap: 30px;
}

#post-header > div, #exploring-post-header > div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#post-header > div > p, #exploring-post-header > div > p {
    margin: 3px 20px 0;
}

.post-img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.post-img:hover > .open-img-link {
    opacity: 1;
}

.post-tag-music {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.post-tag-music > div {
    align-items: center;
    display: flex;
    gap: 10px;
}

.post-tag-music > div > a {
    font-family: 'Font Awesome 6 Brands';
}

.post-tag-people {
    border-left: 4px solid darkgrey;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.post-tag-people > li > div, .post-tag-people > div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.post-tag-people.post-tag-people-layered {
    margin: 10px 0;
}

.post-tag-people-no-li-w-icon {
    translate: -30px;
}

.post-tag-people > li > div > a, .post-tag-people > div > a {
    font-family: "Font Awesome 6 Brands";
}

#post-txt {
    margin: 30px 0 0;
}

.shot-on {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin-bottom: 30px;
}

.shot-on > p:first-child, .exploring-shot-on > p:first-child {
    font-family: "Font Awesome 6 Solid";
    padding-right: 16px;
}

.year-bullet {
    border: 4px solid darkgrey;
    border-radius: 100%;
    height: 16px;
    margin-top: 16px;
    translate: 34px;
    width: 16px;
}

.year-bullet.yb-after {
    background-color: lightgrey;
}

.year-bullet.yb-first {
    -webkit-animation: yb-first-fade 3s infinite ease-in-out;
    animation: yb-first-fade 3s infinite ease-in-out;
}

.year-bullet.yb-ongoing {
    -webkit-animation: yb-first-fade 3s infinite ease-in-out;
    animation: yb-first-fade 3s infinite ease-in-out;
    margin-top: 9.25px;
    translate: 16px;
}

.year-bullet.yb-exploring-list {
    background-color: lightgrey;
    margin-top: 7.5px;
    translate: 44px;
}

#year-list {
    border: 0 solid darkgrey;
    border-inline-end-width: 4px;
    list-style: none;
    margin: 0;
    padding: 0 20px 0 0;
}

#year-list > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding: 10px 0;
}

#year-list > div:last-child {
    padding-bottom: 0;
}

#year-list > div > div > div {
    background-position: center;
    background-size: cover;
    margin: 10px 20px 10px 0;
}

#year-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}

.year-section-space {
    padding: 0 !important;
    position: relative;
}

.year-section-space > div {
    bottom: 0;
    padding: 70px 0;
    position: absolute;
}

.year-style {
    font-size: xxx-large;
    font-weight: bold;
    text-align: right;
}

@-webkit-keyframes yb-first-fade {
    0% {
        background-color: black;
    }
    40% {
        background-color: lightgrey;
    }
    60% {
        background-color: lightgrey;
    }
    100% {
        background-color: black;
    }
}

@keyframes yb-first-fade {
    0% {
        background-color: black;
    }
    40% {
        background-color: lightgrey;
    }
    60% {
        background-color: lightgrey;
    }
    100% {
        background-color: black;
    }
}



/* 404 Error Page */
#p404 {
    -webkit-animation: error-page-404-bg 8s infinite;
    animation: error-page-404-bg 8s infinite;
    background-image: url("/img/noise_dark.png");
    font-family: "Montserrat", sans-serif;
    padding: 100px 200px;
    text-align: center;
}

#p404 h1 {
    font-size: 200px;
    font-weight: bold;
}

#p404-container {
    -webkit-animation: error-page-404-border 8s infinite;
    animation: error-page-404-border 8s infinite;
}

@media only screen and (max-width: 600px) {
    #p404 {
        padding: 100px 10px;
    }
}

@-webkit-keyframes error-page-404-bg {
    0% {
        background-color: floralwhite;
    }
    50% {
        background-color: #f2cdcc;
    }
    100% {
        background-color: floralwhite;
    }
}

@keyframes error-page-404-bg {
    0% {
        background-color: floralwhite;
    }
    50% {
        background-color: #f2cdcc;
    }
    100% {
        background-color: floralwhite;
    }
}

@-webkit-keyframes error-page-404-text-color {
    0% {
        color: black;
    }
    50% {
        color: #800503;
    }
    100% {
        color: black;
    }
}

@keyframes error-page-404-text-color {
    0% {
        color: black;
    }
    50% {
        color: #800503;
    }
    100% {
        color: black;
    }
}

@-webkit-keyframes error-page-404-border {
    0% {
        border-left: 4px solid darkgrey;
        border-right: 4px solid darkgrey;
    }
    50% {
        border-left: 4px solid #d86967;
        border-right: 4px solid #d86967;
    }
    100% {
        border-left: 4px solid darkgrey;
        border-right: 4px solid darkgrey;
    }
}

@keyframes error-page-404-border {
    0% {
        border-left: 4px solid darkgrey;
        border-right: 4px solid darkgrey;
    }
    50% {
        border-left: 4px solid #d86967;
        border-right: 4px solid #d86967;
    }
    100% {
        border-left: 4px solid darkgrey;
        border-right: 4px solid darkgrey;
    }
}



/* Phone */
@media only screen and (max-width: 600px) {
    #aboutme {
        padding: 0;
    }

    #aboutme.noise-bg-light {
        background-image: none;
    }

    #aboutme-a {
        background-image: url("/img/aurellyan.me.crop.png");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 50%;
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
        margin: 0;
        width: 100%;
    }

    #aboutme-a > div {
        backdrop-filter: blur(8px);
        background-color: rgba(255, 250, 240, 0.5);
        background-image: url("/img/noise_dark.png");
        -webkit-backdrop-filter: blur(8px);
    }

    #aboutme-b {
        display: none;
    }

    #aboutme-txt {
        padding: 170px 50px 50px;
    }

    #exploring-content {
        margin: 0 5px 0 0;
    }

    #exploring-content > ol {
        padding: 0 15px 0 0;
    }

    .exploring-header-list {
        margin-right: 15px;
    }

    #exploring-post {
        padding: 50px 10px;
    }

    #exploring-post-border-bottom {
        padding: 30px 0 0;
    }

    #exploring-post-border-top {
        padding: 30px 0;
    }

    .exploring-post-grid {
        gap: 10px;
    }

    #exploring-post-header {
        padding-left: 20px;
    }

    .exploring-shot-on {
        margin-left: 20px;
    }

    .exploring-side-border-dot {
        margin-right: 5px;
    }

    #gallery {
        padding: 50px 15px 50px 0;
    }

    #gallery > h1 {
        margin-left: 30px;
    }

    #gallery > h1, #post > h1 {
        font-size: xx-large;
    }

    .gallery-captions {
        height: calc(100% - 20px);
        padding: 10px;
    }

    #gallery-exploring {
        padding: 50px 0;
    }

    #gallery-exploring > h1 {
        margin: 0 30px;
    }

    .ongoing-completed-phone {
        margin-left: 30px;
    }

    .page-exploring-box-container {
        width: 100%;
    }

    #page-exploring-imgs-container {
        flex-flow: column;
        gap: 0;
        overflow: initial;
        padding: 50px 0;
    }

    #page-exploring-imgs-container > div > h1 {
        display: none;
    }

    #page-exploring-imgs-container-master {
        flex-flow: column;
        left: 0;
        width: 100%;
    }

    #page-exploring-imgs-container-master > div:first-child, #page-exploring-imgs-container-master > div:last-child {
        display: none;
    }

    #post {
        padding: 50px 10px;
    }

    #post-grid {
        gap: 10px;
    }

    #post-header {
        margin: 0 20px;
    }

    #post-txt {
        margin: 30px 20px;
    }

    .shot-on {
        margin: 0 20px 30px 20px;
    }

    .year-bullet {
        margin-top: 8px;
    }

    .year-bullet.yb-ongoing {
        margin-top: initial;
    }

    #year-list {
        padding-right: 15px;
    }

    #year-list > div {
        padding: 20px 0;
    }

    #year-list > div > div > div {
        margin: 0;
    }

    #year-list li:first-child {
        margin: 0 5px 0 0;
    }

    #year-list li {
        margin: 0 5px 0 0;
    }

    .year-style {
        font-size: xx-large;
        translate: 20px;
    }
}