/* ======== */
/* Portrait */
/* ======== */

/* Portrait 4:5 x 1 Photo */
.post-size.macprev.p45-1 {
    width: 100%;
}

.post-size.macprev.p45-1 > div:first-child {
    aspect-ratio: 1023 / 1280;
}

/* Portrait 4:5 x 2 Photo */
.post-size.macprev.p45-2 {
    width: calc(50% - 15px);
}

.post-size.macprev.p45-2 > div:first-child {
    aspect-ratio: 1023 / 1280;
}

/* Portrait 4:5 x 3 Photo */
.post-size.macprev.p45-3 {
    width: calc(33.333333% - 20px);
}

.post-size.macprev.p45-3 > div:first-child {
    aspect-ratio: 1023 / 1280;
}



/* ========= */
/* Landscape */
/* ========= */



/* ==================================== */
/* Combine Portrait 4:5 + Landscape 5:4 */
/* ==================================== */



/* ================ */
/* Phone (<= 600px) */
/* ================ */

@media only screen and (max-width: 600px) {
    /* ======== */
    /* Portrait */
    /* ======== */

    /* Portrait 4:5 x 1 Photo */
    .post-size.macprev.hp-p45-1 {
        width: 100% !important;
    }

    /* Portrait 4:5 x 2 Photo */
    .post-size.macprev.hp-p45-2 {
        width: calc(50% - 5px) !important;
    }



    /* ========= */
    /* Landscape */
    /* ========= */



    /* ==================================== */
    /* Combine Portrait 4:5 + Landscape 5:4 */
    /* ==================================== */
}