.button {
    background-color: #212529;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 10pt 24pt;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #4d5053;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.header-bg {
    background-attachment: fixed;
    background-image: url("/img/bg_header.jpg");
    background-position: top right;
    background-size: cover;
    height: 8rem;
}

.header-bg-crop {
    background-attachment: fixed;
    background-image: url("/img/bg_header_cut.png");
    background-position: top right;
    background-size: cover;
    display: flex;
    height: 100%;
}

.header-bg-layer {
    backdrop-filter: blur(20px) saturate(150%);
    background-color: #212529aa;
    height: 100%;
}

.header-txt {
    color: white;
    margin: auto;
    text-transform: uppercase;
}

.profil-bg {
    background-attachment: fixed;
    background-color: floralwhite;
    background-image: url("/img/bg_header_cut.png");
    background-position: top right;
    background-size: cover;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.profil-flex{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 16rem);
}

.profil-isi {
    margin: auto;
    width: 85%;
}

.profil-isi table {
    transform: translateX(-2pt);
    width: 65%;
}

.profil-isi td {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10pt;
    padding-top: 10pt;
    transform: translateY(-4pt);
    vertical-align: bottom;
}

.profil-isi th {
    font-family: "Montserrat", sans-serif;
    font-size: 28pt;
    font-weight: bold;
    padding-bottom: 10pt;
    padding-right: 20pt;
    padding-top: 10pt;
    text-align: left;
    word-wrap: break-word;
}

.profil-isi-head-txt {
    margin-bottom: 4rem;
    width: 65%;
}
