/* =================================== */
/* Combine Portrait 2:3 + Portrait 4:5 */
/* =================================== */



/* ===================================== */
/* Combine Landscape 3:2 + Landscape 5:4 */
/* ===================================== */



/* ==================================== */
/* Combine Portrait 2:3 + Landscape 5:4 */
/* ==================================== */



/* ==================================== */
/* Combine Landscape 3:2 + Portrait 4:5 */
/* ==================================== */

/* Landscape 3:2 x 1 Photo + Portrait 4:5 x 1 Photo */
/* a = 3:2   &&   b = 4:5 */
.post-size.l32-1-p45-1-a {
    width: calc(65.217% - 19.565px);
}

.post-size.l32-1-p45-1-a > div:first-child {
    aspect-ratio: 3 / 2;
}

.post-size.l32-1-p45-1-b {
    width: calc(34.783% - 10.435px);
}

.post-size.l32-1-p45-1-b > div:first-child {
    aspect-ratio: 4 / 5;
}



/* ================ */
/* Phone (<= 600px) */
/* ================ */

@media only screen and (max-width: 600px) {
    /* =================================== */
    /* Combine Portrait 2:3 + Portrait 4:5 */
    /* =================================== */



    /* ===================================== */
    /* Combine Landscape 3:2 + Landscape 5:4 */
    /* ===================================== */



    /* ==================================== */
    /* Combine Portrait 2:3 + Landscape 5:4 */
    /* ==================================== */



    /* ==================================== */
    /* Combine Landscape 3:2 + Portrait 4:5 */
    /* ==================================== */
}