/* =================================== */
/* Combine Portrait 2:3 + Portrait 3:4 */
/* =================================== */

/* Portrait 2:3 x 2 Photo + Portrait 3:4 x 1 Photo */
/* a = 2:3   &&   b = 3:4 */
.post-size.p23-2-p34-1-a {
    width: calc(32% - 19.2px);
}

.post-size.p23-2-p34-1-a > div:first-child {
    aspect-ratio: 2 / 3;
}

.post-size.p23-2-p34-1-b {
    width: calc(36% - 21.6px);
}

.post-size.p23-2-p34-1-b > div:first-child {
    aspect-ratio: 3 / 4;
}



/* ===================================== */
/* Combine Landscape 3:2 + Landscape 4:3 */
/* ===================================== */

/* Landscape 3:2 x 1 Photo + Landscape 4:3 x 1 Photo */
/* a = 3:2   &&   b = 4:3 */
.post-size.l32-1-l43-1-a {
    width: calc(52.941% - 15.882px);
}

.post-size.l32-1-l43-1-a > div:first-child {
    aspect-ratio: 3 / 2;
}

.post-size.l32-1-l43-1-b {
    width: calc(47.059% - 14.118px);
}

.post-size.l32-1-l43-1-b > div:first-child {
    aspect-ratio: 4 / 3;
}



/* ==================================== */
/* Combine Portrait 2:3 + Landscape 4:3 */
/* ==================================== */



/* ==================================== */
/* Combine Landscape 3:2 + Portrait 4:3 */
/* ==================================== */



/* ================ */
/* Phone (<= 600px) */
/* ================ */

@media only screen and (max-width: 600px) {
    /* =================================== */
    /* Combine Portrait 2:3 + Portrait 3:4 */
    /* =================================== */



    /* ===================================== */
    /* Combine Landscape 3:2 + Landscape 4:3 */
    /* ===================================== */



    /* ==================================== */
    /* Combine Portrait 2:3 + Landscape 4:3 */
    /* ==================================== */



    /* ==================================== */
    /* Combine Landscape 3:2 + Portrait 4:3 */
    /* ==================================== */
}