/* ==================================== */
/* Combine Portrait 3:4 + Portrait 9:16 */
/* ==================================== */

/* Portrait 3:4 x 2 Photo + Portrait 9:16 x 1 Photo */
/* a = 3:4   &&   b = 9:16 */
.post-size.p34-2-p916-1-a {
    width: calc(36.364% - 21.818px);
}

.post-size.p34-2-p916-1-a > div:first-child {
    aspect-ratio: 3 / 4;
}

.post-size.p34-2-p916-1-b {
    width: calc(27.273% - 16.364px);
}

.post-size.p34-2-p916-1-b > div:first-child {
    aspect-ratio: 9 / 16;
}



/* ====================================== */
/* Combine Landscape 4:3 + Landscape 16:9 */
/* ====================================== */



/* ===================================== */
/* Combine Portrait 3:4 + Landscape 16:9 */
/* ===================================== */



/* ===================================== */
/* Combine Landscape 4:3 + Portrait 9:16 */
/* ===================================== */

/* Landscape 4:3 x 1 Photo + Portrait 9:16 x 1 Photo */
/* a = 4:3   &&   b = 9:16 */
.post-size.l43-1-p916-1-a {
    width: calc(70.3297% - 21.0989px);
}

.post-size.l43-1-p916-1-a > div:first-child {
    aspect-ratio: 4 / 3;
}

.post-size.l43-1-p916-1-b {
    width: calc(29.6703% - 8.9011px);
}

.post-size.l43-1-p916-1-b > div:first-child {
    aspect-ratio: 9 / 16;
}



/* ================ */
/* Phone (<= 600px) */
/* ================ */

@media only screen and (max-width: 600px) {
    /* ==================================== */
    /* Combine Portrait 3:4 + Portrait 9:16 */
    /* ==================================== */



    /* ====================================== */
    /* Combine Landscape 4:3 + Landscape 16:9 */
    /* ====================================== */



    /* ===================================== */
    /* Combine Portrait 3:4 + Landscape 16:9 */
    /* ===================================== */



    /* ===================================== */
    /* Combine Landscape 4:3 + Portrait 9:16 */
    /* ===================================== */
}